<meta charset="utf-8" />
<title>CGV Cinemas Vietnam | Thông tin - Lịch chiếu - Hệ thống rạp chiếu phim đẳng cấp CGV Cinemas Việt Nam</title>


<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />


<!-- icon -->

<link rel="shortcut icon" href="~/assets/images/movie/cgvicon.ico">

<!-- page specific plugin styles -->

<link rel="stylesheet" href="~/assets/css/jquery-ui-1.10.3.full.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<link rel="stylesheet" href="~/assets/css/ui.jqgrid.css" />

<!-- fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->

<link rel="stylesheet" href="~/assets/css/ace.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/style-t.css">
<!-- ace settings handler -->

<script src="~/assets/js/ace-extra.min.js"></script>
<script src="~/assets/js/font/font.js"></script>